body {
    background: #2E374F;
    max-width: 100%;
}

.alert {
    max-width: 400px;
    width: 98%;
    margin: 0 auto;
}

form {
    display: block;
    max-width: 400px;
    width: 98%;
    margin: 100px auto;
    background: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 2px;
}

input[type=text], input[type=password] {
    display: block;
    margin: 0 auto 12px;

    width: 70%;
    border: 1px solid #EAECEC;
    padding: 12px 24px;
    border-radius: 2px;
    line-height: 1.5;

    outline: none;
    background-color: transparent;
}

label {
    margin: 0 auto 12px 36px;
    line-height: 24px;
    color: #777;
}

#remember_me {
    margin: 0 auto 12px 36px;
    display: inline-block;
}

label[for=remember_me] {
    margin-left: 4px;
}

input[type=submit] {
    border-radius: 20px;
    background-color: #4DBCE9;
    border: 2px solid #4DBCE9;
    color: #ffffff;
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    outline: none;
    -webkit-appearance: button;
    -moz-appearance: button;

    margin: 36px auto 0;
    display: block;
    text-transform: uppercase;
    min-width: 140px;
    max-width: 384px;
    height: 36px;
    padding-left: 12px;
    padding-right: 12px;
}

input[type=submit]:hover {
    border: 2px solid #2E374F;
}